@model IEnumerable<Ticket>
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager;


<div class="container mt-4">
    <h1>Vé đã đặt</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Tên người đặt</th>
                <th>Số ghế</th>
                <th>Ngày đặt</th>
                <th>Thời gian khởi hành</th>
                <th>Điểm đón</th>
                <th>Điểm trả</th>
                <th>Giá vé</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.User.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.SeatNo)</td>
                    <td>@item.InvoiceDate.ToString("dd/MM/yyyy")</td>
                    <td>@item.Route.StartDate.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@Html.DisplayFor(modelItem => item.PickLocationId1Navigation.PickLocationName)</td>
                    <td>@Html.DisplayFor(modelItem => item.PickLocationId2Navigation.PickLocationName)</td>
                    <td>@Html.DisplayFor(modelItem => item.TotalMoney)</td>
                    <td>
                        <div class="d-flex gap-2" role="group">
                            <a asp-action="Delete" asp-route-id="@item.InvoiceId" class="btn btn-danger">
                                <i class="fas fa-trash"></i> Hủy vé
                            </a>
                            @if (signInManager.IsSignedIn(User) && ((User.IsInRole("Admin")) || (User.IsInRole("Employee"))))
                            {
                                <a asp-action="Edit" asp-route-id="@item.InvoiceId" class="btn btn-primary">
                                    <i class="fas fa-edit"></i> Sửa
                                </a>
                            }
                            <a asp-action="Details" asp-route-id="@item.InvoiceId" class="btn btn-secondary">
                                <i class="fas fa-info-circle"></i> Chi tiết vé
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>