@model IEnumerable<ApplicationUser>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SYF1BU5dBRVbbF1MIJ7jIeb2XFFrgf+N9b2cl" crossorigin="anonymous">

@{
    ViewData["Title"] = "Danh sách khách hàng";
}

<div class="container mt-4">
        <h1 ">Danh sách thông tin khách hàng</h1>
<p>
        <a asp-action="Create" class="btn btn-success">Thêm mới khách hàng</a>
</p>
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên khách hàng</th>
                <th>Email/Username</th>
                <th>Số điện thoại</th>
                <th>Ngày sinh</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (item, index) in Model.Select((value, i) => (value, i)))
            {
                <tr>
                    <td>@(index + 1)</td> 
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                    <td>
                        @{
                            if (item.DateOfBirth != null)
                            {
                                @item.DateOfBirth.ToString("dd-MM-yyyy")
                                ;
                            }
                        }
                    </td>
                    <td>
                        <div class="d-flex gap-2" role="group">
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                <i class="fas fa-trash"></i> Xóa
                            </a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">
                                <i class="fas fa-edit"></i> Sửa
                            </a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">
                                <i class="fas fa-info-circle"></i> Chi tiết
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

