@model List<object>;
@{
    ViewData["Title"] = "Home Page";
   // var list = ViewData["Dem"]; // 0- nhan vien, 1- khach hang,2-tai xe,3-xe,4-pick location,5-dia diem(location),6-so tuyen(route),7-so ve
   
}

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
<!-- Theme style -->
@* <link rel="stylesheet" href="~/dist/css/adminlte.min.css"> *@
<link rel="stylesheet" href="~/lib/fontawesome/css/all.css" asp-append-version="true" />


<br />


       <!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3> @ViewData["KhachHang"].ToString() </h3>

                <p>Khách hàng</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-user"></i>
            </div>
            <a asp-area="" asp-controller="Customers" asp-action="Index" class="small-box-footer">
                More Infor <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>  @ViewData["NhanVien"].ToString() </h3>

                <p>
                   Nhân viên 
                </p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-user-tie"></i>
            </div>
            <a asp-area="" asp-controller="Employee" asp-action="Index" class="small-box-footer">
                More Infor <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3> @ViewData["TaiXe"].ToString() </h3>

                <p>Tài xế</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-road"></i>
            </div>
            <a asp-area="" asp-controller="Driver" asp-action="Index" class="small-box-footer">
                More Infor <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3> @ViewData["Xe"].ToString()</h3>

                <p>Xe</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-van-shuttle"></i>
            </div>
            <a asp-area="" asp-controller="Coaches" asp-action="Index" class="small-box-footer">
                More Infor <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3> @ViewData["DiaDiem"].ToString()</h3>

                <p>Địa điểm</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-map-location-dot"></i>
            </div>
            <a asp-area="" asp-controller="Locations" asp-action="Index" class="small-box-footer">
                More Infor <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3> @ViewData["SoTuyen"].ToString()</h3>

                <p>Tuyến xe</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-route"></i>
            </div>
            <a asp-area="" asp-controller="Routes" asp-action="Index" class="small-box-footer">
                More Infor <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@ViewData["VeXe"].ToString()</h3>

                <p>Đặt vé xe</p>
            </div>
            <div class="icon">
                <i class="fa fa-ticket"></i>
            </div>
            <a asp-area="" asp-controller="Tickets" asp-action="SearchTicket" class="small-box-footer">
                More Infor <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@ViewData["DiemDon"].ToString()</h3>

                <p>Điểm đón   </p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-location-dot"></i>
            </div>
            <a asp-area="" asp-controller="PickLocations" asp-action="Index" class="small-box-footer">
                More Infor <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>
<div class="row">
</div>


<div class="card card-info">
    <div class="card-header" style="background: linear-gradient(90deg, #8e2de2, #4a00e0); color: #ffffff;">
        <h3 class="card-title">Biểu đồ danh thu</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div>
            <label for="year-select">Chọn năm:</label>
            <select id="year-select"></select>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                var yearOptions = '';
                for (var year = 2021; year <= 2023; year++) {
                    if(year==2023)
                        yearOptions += '<option selected value="' + year + '">' + year + '</option  >';
                    else
                        yearOptions += '<option value="' + year + '">' + year + '</option  >';
                }
                $('#year-select').html(yearOptions);
            });
        </script>
        <p id="revenue-text"></p>
        <canvas id="body" style="min-height: 200px; height: 220px; max-height: 200px; max-width: 100%;"></canvas>
    </div>
</div>

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="../../plugins/chart.js/Chart.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
    $(function () {
        var revenueData = {
            '2021': new Array(12).fill(0),
            '2022': new Array(12).fill(0),
            '2023': new Array(12).fill(0)
        };

            @foreach (var item in Model)
            {
            var x = (int)@item.GetType().GetProperty("thang").GetValue(@item, null) - 1;
            var doanhThu = (double)@item.GetType().GetProperty("doanhThu").GetValue(@item, null);
            var nam = @item.GetType().GetProperty("nam").GetValue(@item, null).ToString();
            if (@nam == "2021")
            {
            @:revenueData['2021'][@x] = @doanhThu;
                }
            else if (@nam == "2022")
            {
            @:revenueData['2022'][@x]= @doanhThu

        }
            else
            {
            @:revenueData['2023'][@x]  =@doanhThu;
        }
            }
       
        var lineChartCanvas = $('#body').get(0).getContext('2d');
        var lineChartData = {
            labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
            datasets: [
                {
                    label: 'Doanh thu',
                    backgroundColor: 'linear-gradient(90deg, #8e2de2, #4a00e0)',
                    borderColor: '#ffffff',
                    pointRadius: false,
                    pointBackgroundColor: '#8e2de2',
                    pointBorderColor: '#4a00e0',
                    pointHoverBackgroundColor: '#8e2de2',
                    pointHoverBorderColor: '#4a00e0',
                    data: revenueData['2023']
                }
            ]
        };

        var lineChartOptions = {
            maintainAspectRatio: false,
            responsive: true,
            legend: {
                display: false
            },
            scales: {
                xAxes: [{
                    gridLines: {
                        display: true, // Hiển thị đường grid trên trục x
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Tháng' // Tên trục ngang
                    }
                }],
                yAxes: [{
                    gridLines: {
                        display: true, // Hiển thị đường grid trên trục y
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Doanh thu (Chục triệu đồng)' // Tên trục dọc
                    }
                }]
            }
        };

        var lineChart = new Chart(lineChartCanvas, {
            type: 'line',
            data: lineChartData,
            options: lineChartOptions
        });

        $('#year-select').on('change', function () {
            var selectedYear = $(this).val();
            lineChart.data.datasets[0].data = revenueData[selectedYear];
            lineChart.update();
        });
    }
    );
</script>