@model Route

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coach.CoachId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationId1Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationId1Navigation.LocationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationId2Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationId2Navigation.LocationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RouteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
