@model IEnumerable<Route>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SYF1BU5dBRVbbF1MIJ7jIeb2XFFrgf+N9b2cl" crossorigin="anonymous">
@{
    ViewData["Title"] = "Chuyến Xe";
}

<div class="container mt-4">
    <h1>Danh Sách Các Chuyến Xe</h1>
    <p>
        <a asp-action="Create" class="btn btn-success">Tạo Chuyến Xe Mới</a>
    </p>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Ngày Khởi Hành</th>
                <th>Ngày Đến</th>
                <th>Giá (VNĐ)</th>
                <th>Biển Số Xe</th>
                <th>Điểm Đón</th>
                <th></th>
                <th>Điểm Đến</th>
                <th>Thao Tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price) VNĐ</td>
                    <td>@Html.DisplayFor(modelItem => item.Coach.CoachNo)</td>
                    <td>@Html.DisplayFor(modelItem => item.LocationId1Navigation.LocationName)</td>
                    <td><i class="fas fa-arrow-right"></i></td>
                    <td>@Html.DisplayFor(modelItem => item.LocationId2Navigation.LocationName)</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-action="Edit" asp-route-id="@item.RouteId" class="btn btn-primary">
                                <i class="fas fa-edit"></i> Sửa
                            </a>
                            <a asp-action="Details" asp-route-id="@item.RouteId" class="btn btn-info">
                                <i class="fas fa-info-circle"></i> Chi Tiết
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.RouteId" class="btn btn-danger">
                                <i class="fas fa-trash"></i> Xóa
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyETe1BzBo6UqjPUy9H7HSBktN+REMoI" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-Z2UDy3aHEA1Msz6F5xg6HIe5auXJF05IRtA1BkkfquIbNBKKaD49T4tIrK8R9dHj" crossorigin="anonymous">
