@model IEnumerable<Route>

@{
    ViewData["Title"] = "Chuyến Xe";
}

<h1>Các Chuyến Xe</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Tạo Chuyến Xe Mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ngày Khởi Hành
            </th>
            <th>
                Ngày Đến
            </th>
            <th>
                Giá
            </th>
            <th>
                Biển Số
            </th>
            <th>
                Điểm Đón
            </th>
            <th>
                Điểm Đến
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)VNĐ
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Coach.CoachNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId1Navigation.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId2Navigation.LocationName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RouteId" class="btn btn-primary">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.RouteId" class="btn btn-info">Chi Tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.RouteId" class="btn btn-danger">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
