@model ApplicationUser

@{
    ViewData["Title"] = "Xóa Tài Xế";
}




<div>
    <h3 style="color: red;">@ViewData["ErrorDelete"]</h3>
    <h4>Bạn có chắc muốn xóa tài xế này?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
          Mã số tài xế: 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
          Tên tài xế: 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
           Email/Username
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Số điện thoại 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
           Lương tài xế
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.salary)
        </dd>
        <dt class="col-sm-2">
            Ngày sinh: 
        </dt>
        <dd class="col-sm-10">
            @{
                @if (Model.DateOfBirth != null)
                {
                    @Model.DateOfBirth.ToString("dd-MM-yyyy")
                }
            }
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-info">Trở Về</a>
    </form>
</div>
