@using Microsoft.AspNetCore.Identity
@model IEnumerable<ApplicationUser>

@{
	ViewData["Title"] = "Driver";
}

<h1>Thông tin tài xế</h1>
<p>
	<a asp-action="Create">Thêm mới tài xế</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>Mã số tài xế</th>
			<th>Tên tài xế</th>
			<th>Tài khoản</th>
			<th>Mật khẩu</th>
			<th>Email</th>
			<th>Số điện thoại</th>
			<th>Ngày sinh</th>
			<th>Chức năng </th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in  Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem=>item.Id)</td>
				<td>@Html.DisplayFor(modelItem=>item.Name)</td>
				<td>@Html.DisplayFor(modelItem=>item.UserName)</td>
				<td style="word-wrap: break-word; max-width: 200px;">@Html.DisplayFor(modelItem => item.PasswordHash)</td>
				<td>@Html.DisplayFor(modelItem=>item.Email)</td>
				<td>@Html.DisplayFor(modelItem=>item.PhoneNumber)</td>

				<td>
					@{
						if (item.DateOfBirth != null)
							@item.DateOfBirth.ToString("dd-MM-yyyy")
						;
					}
				</td>
				<td>
					<a asp-action="Delete" asp-route-id="@item.Id">Xóa</a> |
					<a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> 
				</td>
			</tr>
		}
	</tbody>
</table>