@using Microsoft.AspNetCore.Identity
@model IEnumerable<ApplicationUser>

@{
	ViewData["Title"] = "Driver";
}

<div class="card">
	<div class="card-header">
		<h3 class="card-title">Danh sách thông tin tài xế</h3>
	</div>
	<!-- /.card-header -->
	<div class="card-body">
<p>
	<a asp-action="Create">Thêm mới tài xế</a>
</p>

		<table id="example1" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Mã số tài xế</th>
			<th>Tên tài xế</th>
			<th>Email/Username</th>
			<th>Số điện thoại</th>
			<th>Lương tài xế</th>
			<th>Ngày sinh</th>
			<th>Chức năng </th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in  Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem=>item.Id)</td>
				<td>@Html.DisplayFor(modelItem=>item.Name)</td>
				<td>@Html.DisplayFor(modelItem=>item.Email)</td>
				<td>@Html.DisplayFor(modelItem=>item.PhoneNumber)</td>
				<td>@Html.DisplayFor(modelItem=>item.salary)</td>
				<td>
					@{
						if (item.DateOfBirth != null)
							@item.DateOfBirth.ToString("dd-MM-yyyy")
						;
					}
				</td>
				<td>
					<a asp-action="Delete" asp-route-id="@item.Id">Xóa</a> |
					<a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> 
				</td>
			</tr>
		}
	</tbody>
</table>
	</div>
</div>
