@model ApplicationUser

@{
    ViewData["Title"] = "Delete";
}




<div>
    <h4>Bạn có chắc muốn xóa nhân viên này?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Mã nhân viên 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            Tên nhân viên 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Email/Username
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Mật khẩu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>
      
        <dt class="col-sm-2">
            Số điện thoại
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            Lương nhân viên 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.salary)
        </dd>
        <dt class="col-sm-2">
            Ngày sinh
        </dt>
        <dd class="col-sm-10">
            @{
                @if (Model.DateOfBirth != null)
                {
                    @Model.DateOfBirth.ToString("dd/MM/yyyy")
                }
            }
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-info">Trở Về</a>
    </form>
</div>
