@using Microsoft.AspNetCore.Identity
@model IEnumerable<ApplicationUser>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SYF1BU5dBRVbbF1MIJ7jIeb2XFFrgf+N9b2cl" crossorigin="anonymous">

@{
    ViewData["Title"] = "Thông tin nhân Viên";
}

<div class="container mt-4">
<h1>Thông tin nhân viên</h1>
<p>
        <a asp-action="Create" class="btn btn-success">Thêm mới nhân viên</a>
</p>

    <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
			<th>Mã số nhân viên</th>
            <th>Tên nhân viên</th>
            <th>Email/Username</th>
            <th>Số điện thoại</th>
            <th>Lương nhân viên</th>
            <th>Ngày sinh</th>
            <th>Chức năng </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
				<td>@Html.DisplayFor(modelItem=>item.Id)</td>
                <td>@Html.DisplayFor(modelItem=>item.Email)</td>
				<td>@Html.DisplayFor(modelItem=>item.UserName)</td>
				<td>@Html.DisplayFor(modelItem=>item.PhoneNumber)</td>
                <td>@Html.DisplayFor(modelItem=>item.salary)</td>
                <td>
                    @{
                        if (item.DateOfBirth != null)
							@item.DateOfBirth.ToString("dd-MM-yyyy");
                    }
                </td>
				<td>
                        <div class="d-flex gap-2" role="group">
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                <i class="fas fa-trash"></i> Xóa
                            </a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">
                                <i class="fas fa-edit"></i> Sửa
                            </a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">
                                <i class="fas fa-info-circle"></i> Chi tiết
                            </a>
                        </div>
				</td>
            </tr>
        }
    </tbody>
</table>
</div>
