@using Microsoft.AspNetCore.Identity
@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Nhân Viên";
}

<h1>Thông tin nhân viên</h1>
<p>
	<a asp-action="Create">Thêm mới nhân viên</a>
</p>

<table class="table">
    <thead>
        <tr>
			<th>Mã số nhân viên</th>
            <th>Tên nhân viên</th>
            <th>Email/Username</th>
            <th>Số điện thoại</th>
            <th>Lương nhân viên</th>
            <th>Ngày sinh</th>
            <th>Chức năng </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
				<td>@Html.DisplayFor(modelItem=>item.Id)</td>
                <td>@Html.DisplayFor(modelItem=>item.Email)</td>
				<td>@Html.DisplayFor(modelItem=>item.UserName)</td>
				<td>@Html.DisplayFor(modelItem=>item.PhoneNumber)</td>
                <td>@Html.DisplayFor(modelItem=>item.salary)</td>
                <td>
                    @{
                        if (item.DateOfBirth != null)
							@item.DateOfBirth.ToString("dd-MM-yyyy");
                    }
                </td>
				<td>
					<a asp-action="Delete" asp-route-id="@item.Id">Xóa</a> |
					<a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a>
				</td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>
