@model IEnumerable<PickLocation>

@{
    ViewData["Title"] = "Điểm Đón";
}

<h1>Điểm Đón</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Tạo Điểm Đón</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Thành Phố
            </th>
            <th>
                Điểm Đón
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               <td>
                    @Html.DisplayFor(modelItem => item.Location.LocationName)
               </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickLocationName)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PickLocationId" class="btn btn-primary">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.PickLocationId" class="btn btn-info">Chi Tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.PickLocationId" class="btn btn-danger">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
