@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
	ViewData["Title"] = "Application Roles";
}

<style>
    .searchbar{
        width: 400px;
        display: flex;
    }
</style>

<h1>Danh Sách Các Role</h1>
<div class="d-flex gap-3">
	<p>
		<a asp-action="Create" class="btn btn-success">Tạo role mới</a>
	</p>
	<form asp-action="Index" method="get">
		<div class="searchbar">
			<input type="search" id="searchbarinput" name="searchbarinput" class="form-control" placeholder="Nhập nội dung tìm kiếm" />
			<button type="submit" class="btn btn-primary" data-mdb-ripple-init>
				<i class="fas fa-search"></i>
			</button>
			<a asp-action="Index" type="submit" class="btn btn-dark mx-3" data-mdb-ripple-init>
				<i class="fa-solid fa-arrows-rotate"></i>
			</a>
		</div>

	</form>
</div>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model=>model.Id)</th>
			<th>Tên role</th>
			<th>Chức năng</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem=>item.Id)</td>
				<td>@Html.DisplayFor(modelItem=>item.Name)</td>
				<td>
					<div class="d-flex gap-2" role="group">
						<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
							<i class="fas fa-trash"></i> Xóa
						</a>
						<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">
							<i class="fas fa-edit"></i> Sửa
						</a>
						<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">
							<i class="fas fa-info-circle"></i> Chi tiết
						</a>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>